.loading {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;

  svg {
    width: 12px !important;
    height: auto !important;
    margin: 0 !important;
    animation: rotate 3s infinite;
    @keyframes rotate {
      from {
        transform: rotate(0);
      } to {
        transform: rotate(360deg);
      }
    }
  }
}
